/* Work Sense Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
.btn-primary {
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    cursor: pointer;
}

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-self: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.header-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Banner Styles */
.banner-container {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* Header End */

/* Main Start */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams section Start */
.team {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.Teams-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.teams-content {
    padding: 0px 70px;
}

.teams-title {
    color: #727272;
    font-weight: 500;
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.Quick {
    color: #131313;
    font-weight: 700;
}

.Featurest {
    color: #FF900E;
    font-weight: 700;
}

.teams-descripition {
    color: #727272;
    font-weight: 400;
    margin-bottom: 32px;
}

/* Teams Section end */

/* About Myself Start */
.Features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
    align-items: center;
}

.about-div {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.about-title {
    color: #131313;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 20px;
}

.about-description {
    color: #727272;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.about-my-pic img{
    height: 90%;
    margin-left: 80px;
}

.ten-year-experience {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 40px;
    width: 342px;
    position: relative;
    bottom: 100px;
}
.ten-year-experience h4{
    font-size: 4.1rem;
    font-weight: 700;
    margin: 0;
}

/* Some Facts Start */

.Facts {
    margin-top: 150px;
}

.Facts-description {
    color: #727272;
    font-weight: 400;
    margin-top: -30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 45px;
}

.card-title {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px auto;
}

.card-description {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px auto;
}

/* some facts end */

/* Sponser section start */
.sponspors {
    text-align: center;
    margin-top: 150px;
}

.sponspors-img-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
    gap: 30px;
}

/* Sponser section end */


.footer-title {
    color: #424242;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px;
    margin-top: 130px;
}




/* Responsive Media Quarey */
/* Mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    nav, .team, .card-container, .sponspors-img-section, .Features {
        flex-direction: column;
    }

    .Teams-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding: 0px 10px;
    }

    .card-container {
        margin: 5px 5px;
        row-gap: 7px;
    }
    .about-my-pic img{
        width: 90%;
        margin-left: 0;
    }
    .ten-year-experience{
        width: 75%;
        margin-bottom: 10px;
    }
}

/* Tablets or Others devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 10px;
    }

    nav, .team, .card-container, .Features {
        flex-direction: column;
    }

    .card-container {
        margin: 5px 5px;
        row-gap: 8px;
    }

    .sponspors-img-section {
        flex-wrap: wrap;
    }
    .ten-year-experience{
        margin-bottom: 10px;
    }
}